
:root {
    --primary-color: #0056b3;
    --text-color: #333;
    --background-color: #f4f4f4;
    --footer-background-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--background-color);
}

header {
    background: var(--footer-background-color);
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
    margin: 20px 0;
}

h1, h2 {
    color: #0056b3;
}

#home {
    text-align: center;
    padding: 100px 20px;
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    background: #ddd;
    margin: 10px 0;
    padding: 10px;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

form button {
    background: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}


.profile-pic {
    max-width: 150px; 
    height: auto; 
    border-radius: 50%; 
    display: block;
    margin: 0 auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.profile-pic:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


@media (max-width: 768px) {
    header ul li {
        display: block;
        text-align: center;
    }

    .profile-pic {
        max-width: 100px; 
    }
}
